body{
    margin: 0;
}
.nav_back{
    background: rgba(0,0,0,0.8);
    box-shadow: 0 0 10px black;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    width: 91%;
    padding: 10px 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list{
    display: flex;
}
.list li {
    margin: 0 20px;
}
.list li a{
    color: white;
    text-shadow: 1px 1px 1px black;
    font-size: 21px;
}
.icon_list{
    display: flex;
}
.icon_list i{
    font-size: 18px;
    color: white;
    margin: 0 10px;
}
.container h1{
    margin: 0;
    color: gold;
    font-size: 32px;
}
.bars i{
    color: white;
    font-size: 19px;
}
.bars{
    display: none;
}
@media screen and (max-width:820px) {
    .list{
        display: none;
    }
    .icon_list{
        display: none;
    }
    .bars{
        display: block;
    }
}